In [71]:
import sqlite3
import pandas as pd

In [72]:
cnx = sqlite3.connect("database.sqlite")

country_df = pd.read_sql_query("SELECT * FROM Country", cnx)
league_df = pd.read_sql_query("SELECT * FROM League", cnx)
match_df = pd.read_sql_query("SELECT * FROM Match", cnx)
player_df = pd.read_sql_query("SELECT * FROM Player", cnx)
player_att_df = pd.read_sql_query("SELECT * FROM Player_Attributes", cnx)
team_df = pd.read_sql_query("SELECT * FROM Team", cnx)
team_att_df = pd.read_sql_query("SELECT * FROM Team_Attributes", cnx)

In [5]:
#print(country_df.columns)
#print(league_df.columns)
print(team_df)
#print(player_df.columns)
#print(player_att_df.columns)
#print(team_df.columns)
#print(team_att_df.columns)

        id  team_api_id  team_fifa_api_id      team_long_name team_short_name
0        1         9987             673.0            KRC Genk             GEN
1        2         9993             675.0        Beerschot AC             BAC
2        3        10000           15005.0    SV Zulte-Waregem             ZUL
3        4         9994            2007.0    Sporting Lokeren             LOK
4        5         9984            1750.0   KSV Cercle Brugge             CEB
..     ...          ...               ...                 ...             ...
294  49479        10190             898.0       FC St. Gallen             GAL
295  49837        10191            1715.0             FC Thun             THU
296  50201         9777             324.0         Servette FC             SER
297  50204         7730            1862.0  FC Lausanne-Sports             LAU
298  51606         7896               NaN              Lugano             LUG

[299 rows x 5 columns]

In [73]:
fey_team = team_df.loc[(team_df['team_long_name'] == "Feyenoord")]
fey_team

        id  team_api_id  team_fifa_api_id team_long_name team_short_name
167  26558        10235             246.0      Feyenoord             FEY

In [74]:
fey_team1 = match_df.loc[(match_df['away_team_api_id'] == 10235)  | (match_df['home_team_api_id'] == 10235)]
feyseason= fey_team1.loc[(fey_team1['season'] == '2008/2009')]
feyseason
#display(match_df[(match_df['away_team_api_id'] == 10235) | (match_df['home_team_api_id'] == 10235)])
#fey_team1 = match_df.loc[(match_df['away_team_api_id'] == 10235)& (match_df['season'] == '2008/2009')  | (match_df['home_team_api_id'] == 10235) & (match_df['season'] == '2008/2009')]

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
13278,13279,13274,13274,2008/2009,1,2008-08-31 00:00:00,508307,9791,10235,3,...,1.73,4.35,3.40,1.70,4.00,3.40,1.80,4.33,3.30,1.73
13289,13290,13274,13274,2008/2009,10,2008-11-09 00:00:00,523738,10235,9908,5,...,5.25,1.70,3.40,4.35,1.67,3.50,4.75,1.67,3.50,4.75
13299,13300,13274,13274,2008/2009,11,2008-11-16 00:00:00,523748,8611,10235,1,...,3.60,1.85,3.50,3.50,2.00,3.30,3.40,1.95,3.30,3.50
13306,13307,13274,13274,2008/2009,12,2008-11-23 00:00:00,523755,10235,10217,3,...,10.00,1.30,4.50,8.00,1.35,4.50,7.50,1.33,4.50,8.00
13314,13315,13274,13274,2008/2009,13,2008-11-30 00:00:00,523763,8277,10235,1,...,2.38,2.75,3.40,2.20,2.85,3.30,2.30,2.88,3.30,2.20
13326,13327,13274,13274,2008/2009,14,2008-12-07 00:00:00,523775,10235,8526,1,...,10.00,1.22,5.00,11.00,1.28,4.75,9.00,1.25,4.75,11.00
13331,13332,13274,13274,2008/2009,15,2008-12-13 00:00:00,523780,10235,10229,0,...,2.00,2.80,3.30,2.25,3.00,3.25,2.20,3.00,3.30,2.10
13344,13345,13274,13274,2008/2009,16,2008-12-21 00:00:00,523793,8640,10235,1,...,6.00,1.50,3.75,6.00,1.62,3.60,5.00,1.53,3.60,6.00
13345,13346,13274,13274,2008/2009,17,2008-12-26 00:00:00,523794,10235,9761,3,...,3.75,2.00,3.30,3.25,2.05,3.30,3.40,2.00,3.30,3.40
13354,13355,13274,13274,2008/2009,18,2009-01-16 00:00:00,523803,10228,10235,3,...,3.75,1.91,3.25,3.50,1.90,3.50,3.60,2.00,3.30,3.40
13367,13368,13274,13274,2008/2009,19,2009-01-24 00:00:00,523816,10235,8525,1,...,5.50,1.60,3.50,5.00,1.65,3.50,5.00,1.62,3.50,5.00
13376,13377,13274,13274,2008/2009,2,2008-09-13 00:00:00,523663,10235,6601,5,...,9.00,1.25,5.00,9.00,1.25,5.00,10.00,1.25,5.00,9.00
13388,13389,13274,13274,2008/2009,20,2009-02-01 00:00:00,523828,8464,10235,1,...,3.20,2.10,3.40,3.00,2.15,3.30,3.10,2.10,3.30,3.10
13395,13396,13274,13274,2008/2009,21,2009-02-04 00:00:00,523835,10235,8614,1,...,6.00,1.50,3.75,6.00,1.53,4.00,5.50,1.50,3.75,5.50
13405,13406,13274,13274,2008/2009,22,2009-02-08 00:00:00,523845,10235,8674,0,...,2.88,2.10,3.40,3.00,2.25,3.30,2.95,2.20,3.25,3.00
13413,13414,13274,13274,2008/2009,23,2009-02-15 00:00:00,523853,8593,10235,2,...,6.00,1.50,3.60,6.00,1.57,3.60,5.50,1.53,3.75,5.50
13424,13425,13274,13274,2008/2009,24,2009-02-22 00:00:00,523864,8526,10235,0,...,1.91,3.25,3.30,2.00,3.50,3.25,2.00,3.30,3.25,2.05
13434,13435,13274,13274,2008/2009,25,2009-03-01 00:00:00,523874,10235,8277,2,...,3.75,1.90,3.30,3.60,1.95,3.35,3.60,1.95,3.30,3.50
13443,13444,13274,13274,2008/2009,26,2009-03-08 00:00:00,523883,9761,10235,1,...,2.63,2.30,3.25,2.70,2.30,3.30,2.80,2.30,3.30,2.75
13449,13450,13274,13274,2008/2009,27,2009-03-15 00:00:00,523889,10235,8640,1,...,2.20,3.00,3.25,2.20,3.00,3.25,2.20,3.00,3.25,2.20
13458,13459,13274,13274,2008/2009,28,2009-03-22 00:00:00,523898,10229,10235,0,...,7.50,1.45,3.60,7.00,1.50,3.75,6.50,1.44,3.75,7.00
13470,13471,13274,13274,2008/2009,29,2009-04-05 00:00:00,523910,6601,10235,2,...,2.10,3.50,3.30,1.95,3.60,3.35,1.90,3.60,3.30,1.91
13475,13476,13274,13274,2008/2009,3,2008-09-21 00:00:00,523672,10235,8593,2,...,2.30,2.60,3.40,2.35,2.60,3.30,2.40,2.70,3.25,2.30
13487,13488,13274,13274,2008/2009,30,2009-04-12 00:00:00,523918,10235,9791,5,...,7.50,1.35,4.00,8.00,1.40,4.00,7.00,1.44,3.75,7.00
13493,13494,13274,13274,2008/2009,31,2009-04-18 00:00:00,523924,10235,8611,1,...,2.25,2.50,3.30,2.50,2.50,3.30,2.50,2.50,3.30,2.50
13503,13504,13274,13274,2008/2009,32,2009-04-26 00:00:00,523934,10217,10235,2,...,2.20,2.88,3.40,2.10,3.00,3.30,2.15,3.00,3.30,2.20
13509,13510,13274,13274,2008/2009,33,2009-05-03 00:00:00,523940,9908,10235,2,...,2.38,2.60,3.25,2.40,2.60,3.25,2.40,2.70,3.25,2.38
13522,13523,13274,13274,2008/2009,34,2009-05-10 00:00:00,523953,10235,9803,2,...,6.50,1.45,3.80,6.50,1.45,4.00,6.25,1.53,3.75,5.50
13533,13534,13274,13274,2008/2009,4,2008-09-28 00:00:00,523685,8674,10235,3,...,2.38,2.50,3.30,2.50,2.55,3.30,2.45,2.50,3.30,2.50
13541,13542,13274,13274,2008/2009,5,2008-10-05 00:00:00,523693,10235,8464,0,...,5.00,1.65,3.50,4.35,1.60,3.60,5.25,1.67,3.50,4.75
13550,13551,13274,13274,2008/2009,6,2008-10-19 00:00:00,523702,8525,10235,1,...,2.30,2.80,3.30,2.25,2.90,3.25,2.25,2.80,3.25,2.30
13557,13558,13274,13274,2008/2009,7,2008-10-26 00:00:00,523709,10235,10228,2,...,2.88,2.25,3.30,2.75,2.20,3.25,3.00,2.38,3.30,2.62
13565,13566,13274,13274,2008/2009,8,2008-10-29 00:00:00,523717,8614,10235,2,...,1.91,3.00,3.40,2.05,3.15,3.25,2.10,3.40,3.30,2.00
13575,13576,13274,13274,2008/2009,9,2008-11-02 00:00:00,523727,9803,10235,0,...,2.50,2.50,3.30,2.40,2.60,3.25,2.50,2.50,3.30,2.50

In [8]:
fey_team1

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
13278,13279,13274,13274,2008/2009,1,2008-08-31 00:00:00,508307,9791,10235,3,...,1.73,4.35,3.4,1.70,4.00,3.4,1.80,4.33,3.3,1.73
13289,13290,13274,13274,2008/2009,10,2008-11-09 00:00:00,523738,10235,9908,5,...,5.25,1.70,3.4,4.35,1.67,3.5,4.75,1.67,3.5,4.75
13299,13300,13274,13274,2008/2009,11,2008-11-16 00:00:00,523748,8611,10235,1,...,3.60,1.85,3.5,3.50,2.00,3.3,3.40,1.95,3.3,3.50
13306,13307,13274,13274,2008/2009,12,2008-11-23 00:00:00,523755,10235,10217,3,...,10.00,1.30,4.5,8.00,1.35,4.5,7.50,1.33,4.5,8.00
13314,13315,13274,13274,2008/2009,13,2008-11-30 00:00:00,523763,8277,10235,1,...,2.38,2.75,3.4,2.20,2.85,3.3,2.30,2.88,3.3,2.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15682,15683,13274,13274,2015/2016,5,2015-09-13 00:00:00,1983314,10235,8525,1,...,NaN,1.40,5.0,7.50,NaN,NaN,NaN,NaN,NaN,NaN
15690,15691,13274,13274,2015/2016,6,2015-09-20 00:00:00,1983322,9803,10235,1,...,NaN,4.75,4.0,1.73,NaN,NaN,NaN,NaN,NaN,NaN
15700,15701,13274,13274,2015/2016,7,2015-09-27 00:00:00,1983332,10235,6413,2,...,NaN,1.40,5.0,7.50,NaN,NaN,NaN,NaN,NaN,NaN
15708,15709,13274,13274,2015/2016,8,2015-10-04 00:00:00,1983340,8526,10235,1,...,NaN,8.00,5.0,1.40,NaN,NaN,NaN,NaN,NaN,NaN
15718,15719,13274,13274,2015/2016,9,2015-10-18 00:00:00,1983350,10228,10235,2,...,NaN,3.90,3.8,1.90,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
fey_team1 = match_df.loc[(match_df['away_team_api_id'] == 10235)& (match_df['season'] == '2008/2009')  | (match_df['home_team_api_id'] == 10235) & (match_df['season'] == '2008/2009')]
aantal_wed = fey_team1.shape[0]

In [76]:
home = match_df.loc[(match_df['home_team_api_id'] == 10235)& (match_df['season'] == '2008/2009')]
away= match_df.loc[(match_df['away_team_api_id'] == 10235)& (match_df['season'] == '2008/2009')]
awaysum = home['away_team_goal'].sum()
homesum = home['home_team_goal'].sum()
total_punten = awaysum +homesum
total_punten

55

In [59]:
home

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
13289,13290,13274,13274,2008/2009,10,2008-11-09 00:00:00,523738,10235,9908,5,...,5.25,1.70,3.40,4.35,1.67,3.50,4.75,1.67,3.50,4.75
13306,13307,13274,13274,2008/2009,12,2008-11-23 00:00:00,523755,10235,10217,3,...,10.00,1.30,4.50,8.00,1.35,4.50,7.50,1.33,4.50,8.00
13326,13327,13274,13274,2008/2009,14,2008-12-07 00:00:00,523775,10235,8526,1,...,10.00,1.22,5.00,11.00,1.28,4.75,9.00,1.25,4.75,11.00
13331,13332,13274,13274,2008/2009,15,2008-12-13 00:00:00,523780,10235,10229,0,...,2.00,2.80,3.30,2.25,3.00,3.25,2.20,3.00,3.30,2.10
13345,13346,13274,13274,2008/2009,17,2008-12-26 00:00:00,523794,10235,9761,3,...,3.75,2.00,3.30,3.25,2.05,3.30,3.40,2.00,3.30,3.40
13367,13368,13274,13274,2008/2009,19,2009-01-24 00:00:00,523816,10235,8525,1,...,5.50,1.60,3.50,5.00,1.65,3.50,5.00,1.62,3.50,5.00
13376,13377,13274,13274,2008/2009,2,2008-09-13 00:00:00,523663,10235,6601,5,...,9.00,1.25,5.00,9.00,1.25,5.00,10.00,1.25,5.00,9.00
13395,13396,13274,13274,2008/2009,21,2009-02-04 00:00:00,523835,10235,8614,1,...,6.00,1.50,3.75,6.00,1.53,4.00,5.50,1.50,3.75,5.50
13405,13406,13274,13274,2008/2009,22,2009-02-08 00:00:00,523845,10235,8674,0,...,2.88,2.10,3.40,3.00,2.25,3.30,2.95,2.20,3.25,3.00
13434,13435,13274,13274,2008/2009,25,2009-03-01 00:00:00,523874,10235,8277,2,...,3.75,1.90,3.30,3.60,1.95,3.35,3.60,1.95,3.30,3.50
13449,13450,13274,13274,2008/2009,27,2009-03-15 00:00:00,523889,10235,8640,1,...,2.20,3.00,3.25,2.20,3.00,3.25,2.20,3.00,3.25,2.20
13475,13476,13274,13274,2008/2009,3,2008-09-21 00:00:00,523672,10235,8593,2,...,2.30,2.60,3.40,2.35,2.60,3.30,2.40,2.70,3.25,2.30
13487,13488,13274,13274,2008/2009,30,2009-04-12 00:00:00,523918,10235,9791,5,...,7.50,1.35,4.00,8.00,1.40,4.00,7.00,1.44,3.75,7.00
13493,13494,13274,13274,2008/2009,31,2009-04-18 00:00:00,523924,10235,8611,1,...,2.25,2.50,3.30,2.50,2.50,3.30,2.50,2.50,3.30,2.50
13522,13523,13274,13274,2008/2009,34,2009-05-10 00:00:00,523953,10235,9803,2,...,6.50,1.45,3.80,6.50,1.45,4.00,6.25,1.53,3.75,5.50
13541,13542,13274,13274,2008/2009,5,2008-10-05 00:00:00,523693,10235,8464,0,...,5.00,1.65,3.50,4.35,1.60,3.60,5.25,1.67,3.50,4.75
13557,13558,13274,13274,2008/2009,7,2008-10-26 00:00:00,523709,10235,10228,2,...,2.88,2.25,3.30,2.75,2.20,3.25,3.00,2.38,3.30,2.62

In [121]:
home = match_df.loc[(match_df['home_team_api_id'] == 10235)& (match_df['season'] == '2008/2009')]
away= match_df.loc[(match_df['away_team_api_id'] == 10235)& (match_df['season'] == '2008/2009')]



home['punten'] = np.where(home['home_team_goal'] > home['away_team_goal'], 3, np.where(home['home_team_goal'] == home['away_team_goal'], 1, 0))
away['punten'] = np.where(away['home_team_goal'] < away['away_team_goal'], 3, np.where(away['home_team_goal'] == away['away_team_goal'], 1, 0))
home['outcome']= np.where(home['punten'] ==3, 'W', np.where(home['punten'] == 1, 'D', 'L'))
away['outcome']= np.where(away['punten'] ==3, 'W', np.where(away['punten'] == 1, 'D', 'L'))

x = away['outcome'].value_counts()
x
y = round((x['W'] / 17) * 100, 2)
y

C:\Users\tim4j\AppData\Local\Temp\ipykernel_8360\3302416001.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['punten'] = np.where(home['home_team_goal'] > home['away_team_goal'], 3, np.where(home['home_team_goal'] == home['away_team_goal'], 1, 0))
C:\Users\tim4j\AppData\Local\Temp\ipykernel_8360\3302416001.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  away['punten'] = np.where(away['home_team_goal'] < away['away_team_goal'], 3, np.where(away['home_team_goal'] == away['away_team_goal'], 1, 0))
C:\Users\tim4j\AppData\Local\Temp\ipykernel_8360\3302416001.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['outcome']= np.where(home['punten'] ==3, 'W', np.where(home['punten'] == 1, 'D', 'L'))
C:\Users\tim4j\AppData\Local\Temp\ipykernel_8360\3302416001.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  away['outcome']= np.where(away['punten'] ==3, 'W', np.where(away['punten'] == 1, 'D', 'L'))

23.53

In [118]:
away['outcome']

13278    L
13299    D
13314    D
13344    L
13354    L
13388    L
13413    L
13424    W
13443    W
13458    D
13470    L
13503    W
13509    D
13533    L
13550    L
13565    L
13575    W
Name: outcome, dtype: object

In [128]:
#loss = 0 gelijk draw 1 win 3

#Aantal wedstrijden in dat seizoen.
#Aantal punten behaald in dat seizoen.
#Gemiddeld aantal punten per wedstrijd.
#Winst-, verlies- en gelijk percentage in uitwedstrijden en thuiswedstrijden.
def team_season(team,season):
    teamapid = team_df.loc[(team_df['team_long_name'] == team)]['team_api_id'].values[0]

    result1 = match_df.loc[(match_df['away_team_api_id'] == teamapid)& (match_df['season'] == season)  | (match_df['home_team_api_id'] == teamapid) & (match_df['season'] == season)]
    aantal_wed = result1.shape[0]
    
    home = match_df.loc[(match_df['home_team_api_id'] == teamapid)& (match_df['season'] == season)]
    away= match_df.loc[(match_df['away_team_api_id'] == teamapid)& (match_df['season'] == season)]
    home['punten'] = np.where(home['home_team_goal'] > home['away_team_goal'], 3, np.where(home['home_team_goal'] == home['away_team_goal'], 1, 0))
    away['punten'] = np.where(away['home_team_goal'] < away['away_team_goal'], 3, np.where(away['home_team_goal'] == away['away_team_goal'], 1, 0))
    
    awaysum = away['punten'].sum()
    homesum = home['punten'].sum()
    total_punten = awaysum + homesum
    
    home['outcome']= np.where(home['punten'] ==3, 'W', np.where(home['punten'] == 1, 'D', 'L'))
    away['outcome']= np.where(away['punten'] ==3, 'W', np.where(away['punten'] == 1, 'D', 'L'))
    awayperc = away['outcome'].value_counts()
    homeperc = home['outcome'].value_counts()
    homewinperc = round((homeperc['W'] / 17) * 100, 2)
    homedrawperc = round((homeperc['D'] / 17) * 100, 2)
    homelossperc = round((homeperc['L'] / 17) * 100, 2)
    awaywinperc = round((awayperc['W'] / 17) * 100, 2)
    awaydrawperc = round((awayperc['D'] / 17) * 100, 2)
    awaylossperc = round((awayperc['L'] / 17) * 100, 2)
    
    gem_punten = total_punten/aantal_wed
    return print('Aantal wedstrijden: ' + str(aantal_wed)+ " \nAantal punten: " + str(total_punten) + ' \nGemiddelde punten per wedstrijd ' + str(gem_punten) +'\n \nWin uit percentage ' + str(awaywinperc) +'%' +'\nGelijk uit percentage ' + str(awaydrawperc) +'%'+'\nVerlies uit percentage ' + str(awaylossperc) +'%'+'\n \nWin thuis percentage ' + str(homewinperc) +'%' +'\nGelijk thuis percentage ' + str(homedrawperc) +'%'+'\nVerlies thuis percentage ' + str(homelossperc) +'%')

team_season('Feyenoord','2008/2009')

Aantal wedstrijden: 34
Aantal punten: 45
Gemiddelde punten per wedstrijd 1.3235294117647058

Win uit percentage 23.53%
Gelijk uit percentage 23.53%
Verlies uit percentage 52.94%

Win thuis percentage 47.06%
Gelijk thuis percentage 29.41%
Verlies thuis percentage 23.53%

C:\Users\tim4j\AppData\Local\Temp\ipykernel_8360\441735336.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['punten'] = np.where(home['home_team_goal'] > home['away_team_goal'], 3, np.where(home['home_team_goal'] == home['away_team_goal'], 1, 0))
C:\Users\tim4j\AppData\Local\Temp\ipykernel_8360\441735336.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  away['punten'] = np.where(away['home_team_goal'] < away['away_team_goal'], 3, np.where(away['home_team_goal'] == away['away_team_goal'], 1, 0))
C:\Users\tim4j\AppData\Local\Temp\ipykernel_8360\441735336.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['outcome']= np.where(home['punten'] ==3, 'W', np.where(home['punten'] == 1, 'D', 'L'))
C:\Users\tim4j\AppData\Local\Temp\ipykernel_8360\441735336.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  away['outcome']= np.where(away['punten'] ==3, 'W', np.where(away['punten'] == 1, 'D', 'L'))

In [51]:
fey_team = team_df.loc[(team_df['team_long_name'] == "Feyenoord")]['team_api_id']
fey_team.values[0]

10235

In [37]:
def team_apid(teamname):
    teamid= team_df.loc[(team_df['team_long_name'] == teamname)]['team_api_id'].values
    return teamid
team_apid('Feyenoord')

array([10235], dtype=int64)